

//light Theme colors
$lightTheme-primary:#ffffff;
$lightTheme-secondary:#ebecf4;
$lightTheme-tertiary:#f5f6fa;

//dark Theme colors
$darkTheme-primary:#041d2e;
$darkTheme-secondary:#042b46;
$darkTheme-tertiary:#000000;

//support colors
$support-black:#111111;
$support-lightgrey:#62727d;
$support-lightblue:#aef9f9;
$support-blue:#96e2f4;
$support-purple:#b355b7;
$support-lightPurple:#ab95ac;
$support-darkgrey:#b9babf;
$support-darkgreen:#021929;
